@use './../base/mixins' as *;

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	padding: var(--spacing-sm);

	font-family: var(--font-accent);
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-accent);
	color: var(--color-white);

	border-radius: var(--border-rad-sm);
	background-color: var(--color-black);

	&:hover {
		background-color: var(--color-black-hover);
	}

	&:active {
		background-color: var(--color-black-active);
	}

	&:focus-visible {
		background-color: var(--color-black-hover);
	}

	&--whatsapp {
		background-color: #2cb742;

		&:hover {
			background-color: #2fc145;
		}

		&:focus-visible {
			background-color: #29ab3d;
		}
	}
	&--telegram {
		background-color: #27a7e7;

		&:hover {
			background-color: #2cb7fd;
		}

		&:focus-visible {
			background-color: #259dd8;
		}
	}

	// @include mobile {
	// 	padding: var(--spacing-xs);
	// }
}
