@use './../base/mixins' as *;

.header {
	font-family: var(--font-accent);
	font-weight: var(--font-weight-accent);
}

.header__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 64px;
	padding: 11px 0;
}

.header__logo {
	font-size: var(--font-size-xl);
	font-weight: 700;

	@include mobile {
		font-size: var(--font-size-lg);
	}
}

.header__nav {
	margin-left: auto;

	@include tablet {
		position: fixed;
		top: 0;
		right: 0;
		z-index: 999;

		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100vh;
		padding: var(--spacing-xl) var(--spacing-sm);

		background-color: var(--color-white);
		transform: translateX(100%);
	}

	&--open {
		transform: none;
	}
}

.header__nav-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 12px;

	@include tablet {
		flex-direction: column;
		align-items: flex-start;
		gap: var(--spacing-sm);
	}
}

.header__nav-link {
	padding: 10px 6px;

	&:hover {
		color: var(--color-black-hover);
		background-color: var(--color-light-gray);
		border-radius: 2px;
	}

	@include tablet {
		font-size: var(--font-size-md);
	}
}

.header__contacts {
	font-size: var(--font-size-md);
	text-decoration: underline;

	@include tablet {
		display: none;
	}
}

.header__controls {
	display: none;

	@include tablet {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
	}
}
