@use './../base/mixins' as *;

.header {
	position: fixed;
	z-index: 1500;

	width: 100vw;
	padding: 11px 0;

	font-family: var(--font-accent);
	font-weight: var(--font-weight-accent);

	background-color: var(--color-white);

	@include mobile {
		border-radius: 0 0 10px 10px;
	}

	&--shadow {
		box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
	}
}

.header__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 64px;

	@include tablet {
		gap: 24px;
	}
}

.header__logo {
	display: flex;
	img {
		width: 200px;
	}

	@include tablet {
		img {
			flex-shrink: 1;
			max-width: 156px;
		}
	}

	@include mobile {
		img {
			width: 156px;
		}
	}

	&--small {
		img {
			width: 156px;
		}
	}
}

.header__nav {
	margin-left: auto;

	@include mobile {
		position: fixed;
		top: 0;
		right: 0;
		z-index: 999;

		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100vh;
		padding: var(--spacing-xl) var(--spacing-sm);

		background-color: var(--color-white);
		transform: translateX(100%);
	}

	&--open {
		transform: none;
	}
}

.header__nav-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 12px;

	@include tablet {
		gap: 6px;
	}

	@include mobile {
		flex-direction: column;
		align-items: flex-start;
		gap: var(--spacing-sm);
	}
}

.header__nav-link {
	padding: 10px 6px;

	@include hover {
		color: var(--color-black-hover);
		background-color: var(--color-light-gray);
		border-radius: 2px;
	}

	@include mobile {
		font-size: var(--font-size-md);
	}
}

.header__contacts {
	font-size: var(--font-size-md);
	text-decoration: underline;

	@include tablet {
		font-size: 18px;
	}

	@include mobile {
		display: none;
	}
}

.header__controls {
	display: none;

	@include mobile {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
	}
}
