.socials-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1001;

	display: none;
	// width: 100vw;
	// height: 100vh;

	// background-color: rgba(0, 0, 0, 0.15);

	&--open {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.socials-modal__content {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-xl);
	max-width: 480px;
	max-height: 480px;
	padding: 20px 20px 40px 20px;

	border-radius: var(--border-rad-md);
	background-color: var(--color-light-gray);
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.socials-modal__title {
	font-size: var(--font-size-sm);
}

.socials-modal__controls {
	display: flex;
	gap: var(--spacing-xs);

	a {
		font-weight: var(--font-weight-main);
	}
}
